/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29.06.2014, 20:45:50
    Author     : kripton
*/


.navbar-brand {
    
    min-width: 117px;
    
}




@media(max-width: 768px) {
    
    #my-nav {
        
        padding: 0 0;
        
    }

}